/* file: front-end/cadastro/src/styles.css */
@import 'tailwindcss';

:root {
  --color-primary: #ed7947;
  --color-app-bg: #bbbec073;
  --color-secundary: #03385c;
}

@layer components {
  .auth-page {
    @apply min-h-screen flex items-center justify-center px-4;
    background-color: var(--color-app-bg);
  }

  .auth-card {
    @apply w-full max-w-md rounded-2xl bg-white p-8 shadow-2xl;
  }
 .section-heading {
    @apply flex flex-col;
  }
  .section-title {
    @apply text-3xl font-bold text-gray-900;
  }

  .section-subtitle {
    @apply mt-1 text-sm text-gray-700;
  }

  .form-group {
    @apply space-y-2;
  }

  .form-label {
    @apply block text-sm font-medium text-gray-700;
  }

  .form-input {
    @apply w-full rounded-lg border border-gray-300 px-4 py-3 text-sm text-gray-900 outline-none transition placeholder:text-gray-400 focus:ring-2;
  }

  .form-input:focus {
    border-color: var(--color-primary);
    --tw-ring-color: rgb(237 121 71 / 0.25);
  }

  .btn-primary {
    @apply w-full rounded-lg px-4 py-3 text-sm font-semibold text-white transition disabled:cursor-not-allowed disabled:opacity-60;
    background-color: var(--color-primary);
  }

  .btn-primary:hover:not(:disabled) {
    filter: brightness(0.95);
  }

  .alert-error {
    @apply rounded-lg border border-red-200 bg-red-50 px-4 py-3 text-sm text-red-600;
  }


}
  .loading-div {
    @apply rounded-2xl bg-white p-6 shadow-lg;
  }

  .loading-text {
    @apply text-sm text-gray-600;
  }



  .table-wrapper {
    @apply overflow-x-auto rounded-xl border border-gray-200 bg-white;
  }

  .transacoes-table {
    @apply min-w-full divide-y divide-gray-200 text-left text-sm;
  }

  .transacoes-table thead {

    background-color: var(--color-secundary);

  }

 .transacoes-table th {
    @apply whitespace-nowrap px-4 py-3 text-xs font-semibold uppercase tracking-wide text-white transition;
  }
  .transacoes-table tbody tr:nth-child(odd) {
  @apply bg-white;
}
.transacoes-table tbody tr:nth-child(even) {
      background-color: var(--color-app-bg);
}
  .transacoes-table tbody {
    @apply divide-y divide-gray-100 bg-white;
  }

  .transacoes-table td {
    @apply whitespace-nowrap px-4 py-4 text-gray-700;
  }

  .transacoes-table tbody tr {
    @apply transition hover:bg-gray-500 text-white;
  }
.transacoes-table tbody tr:hover td {
  @apply text-white;
}
